DISCORD_TOKEN           = "BOT TOKEN HERE!"
DISCORD_PREFIX          = ?
DISCORD_OWNER_ID        = 888072934114074624

# DISCORD_ACTIVITY_NAME = drunk as always 🍻
# DISCORD_ACTIVITY_TYPE = playing
# DISCORD_STATUS_TYPE   = idle
